{{>loginheader}}
        <!-- Container-fluid starts -->
        <div class="bg-primary">
        <div class="container">
             <div class="row">
                <div class="col-sm-12">
                    <!-- Authentication card start -->
                    <div class="signup-card card-block auth-body mr-auto ml-auto">
                        <form class="md-float-material" action="/stdregister" method="POST">
                            <div class="auth-box">
                                <div class="row m-b-20">
                                    <div class="col-md-12">
                                        <h3 class=" text-left text-primary"> <img src="../assets/images/lj.jpg" height="20%" width="20%">&nbsp;&nbsp;&nbsp;Apply For Registration</h3>
                                    </div>
                                </div>
                                <hr/>
                                <div class="text-danger alert-danger"><h4><b>{{msg}}</b></h4></div><br>
                                <div class="input-group">
                                     <input type="text" name="eno" class="form-control" placeholder="Enter your Enrollment no">
                                </div>
                                <div class="input-group">
                                    <input type="text" name="sname" class="form-control" placeholder="Enter your Name">
                                </div>
                                <div class="input-group">
                                    <textarea placeholder="Enter your address" name="saddress" class=" form-control"></textarea>
                                </div>
                                 <div class="input-group">
                                    <input type="phone" name="sphone" class="form-control" placeholder="Enter your Phone">
                                </div>
                                <div class="input-group">
                                    <input type="email" name="semail" class="form-control" placeholder="Enter your Email">
                                </div>                                
                               
                                <div class="input-group">
                                    <input type="password" name="password" class="form-control" placeholder="Password">
                                </div>
                                <div class="input-group">
                                    <input type="password" name="cpassword" class="form-control" placeholder="Confirm Password">
                                </div>
                                <div class="row m-t-30">
                                    <div class="col-md-12">
                                        <input type="submit" class="btn btn-primary btn-md btn-block waves-effect text-center m-b-20" value="Submit">
                                    </div>
                                </div>
                                <hr>
                                <div class="row m-t-25 text-left">
                                    <div class="col-sm-7 col-xs-12">
                                        <i class="ti-arrow-right text-dark"></i>
                                        <a href="/login" class="text-right f-w-600 text-inverse">Login from here...</a>
                                    </div>
                                    <div class="col-sm-5 col-xs-12 forgot-phone text-right">
                                        <i class="ti-face-sad text-dark"></i>
                                        <a href="auth-reset-password.html" class="text-right f-w-600 text-inverse"> Forgot Password?</a>
                                    </div>
                                </div>
                                
                                <hr>
                             
                            </div>
                        </form>
                        <!-- end of form -->
                    </div>
                    <!-- Authentication card end -->
                </div>
                <!-- end of col-sm-12 -->
            </div>
            <!-- end of row -->
        </div>
        <!-- end of container-fluid -->
</div>
    {{>loginfooter}}